/* app global css */
.bg_gradient{
  background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
}
.bg_gradient_second{
  background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  #d2f0ff 0%, #b4f3ff 100.2% );
}
.text_main{
  color: #303841;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
}

.title{
  font-size: 34px;
}

.q-header{
  background-color: #F5F5F5;
}
.q-toolbar__title{
  color: #303841;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;

}
.frame{
  width: 930px;
  border: 1px solid rgba(182,199,226,1);
}
.frame_back{
  height: 575px;
  width: 430px;
  background:
    linear-gradient(
      rgba(35,43,85,0.75),
      rgba(35,43,85,0.95));
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
}
.form-signin {
  width: 430px;
  height: 375px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
}
.bg_main{
  background-color: #F5F5F5;
}
.bg_second{
  background-color: #D6E6F2;
}
.bg_third{
  background-color: #303841;
}
.add-row-dialog{
  max-width: 1000px!important;
}
.to_do-dialog{
  min-width: 400px!important;
}
.my-card{
  width: 250px;
}
.text_back{
  color: #ffffff;
}
/*1st Color*/
/* #F5F5F5*/
/*2nd Color*/
/* #D6E6F2*/
/*3rd Color*/
/* #303841*/
