/* app global css */
.bg_gradient{
  background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
}
.bg_gradient_second{
  background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  #d2f0ff 0%, #b4f3ff 100.2% );
}
.text_main{
  color: #303841;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
}

.title{
  font-size: 34px;
}

.q-header{
  background-color: #F5F5F5;
}
.q-toolbar__title{
  color: #303841;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
}
.frame{
  position: center;
  top:25%;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  height: 400px;
  width: 550px;
  background: #fff;
  text-align: center;
  border: 1px solid rgba(182,199,226,1);
}
h2 {
  margin: -5px;
  font-weight: 600;
  font-size: 18pt;
  text-align: center;
}
.bg_main{
  background-color: #F5F5F5;
}
.bg_second{
  background-color: #D6E6F2;
}
.bg_third{
  background-color: #303841;
}
.add-row-dialog{
  max-width: 1000px!important;
}
.to_do-dialog{
  min-width: 400px!important;
}
.my-card{
  width: 250px;
}
.text_back{
  color: #ffffff;
}

.status_unchecked{
  color:#b7110e;
}
.status_checked{
  color:#4e52ff;
}
.status_completed{
  color:#0ab715;
}
/*1st Color*/
/* #F5F5F5*/
/*2nd Color*/
/* #D6E6F2*/
/*3rd Color*/
/* #303841*/
